<div class="col-md-12 col-sm-6  ">
  <div class="x_panel">
    <div class="x_title">
      <h2>Eventos</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li class="houver-link">
          <%= link_to new_admins_backoffice_evento_path, class: 'btn btn-success', style: 'color: white;' do %>
            <i class="fa fa-plus-circle text-white"></i> Novo
          <% end %>
          <!--          <a class="btn btn-success">Success</a>-->
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th width="40%">Título</th>
            <th width="25%">Código</th>
            <th width="35%">Ações</th>
          </tr>
          </thead>
          <tbody>
          <% @eventos.each do |evento| %>
            <tr>
              <td width="40%"><%= evento.titulo.truncate(60) %></td>
              <td width="25%"><%= evento.codigo %></td>
              <td width="35%" class="acoes">

                <%= link_to admins_backoffice_evento_path(evento), class: "btn btn-primary btn-xs" do %>
                  <i class="fa fa-folder"></i> Visualizar
                <% end %>
                <%= link_to edit_admins_backoffice_evento_path(evento), class: "btn btn-info btn-xs" do %>
                  <i class="fa fa-pencil"></i> Editar
                <% end %>
                <%= link_to "/admins_backoffice/eventos/#{evento.id}", method: :delete, data: {confirm: 'Você tem certeza?'}, class: "btn btn-danger btn-xs" do %>
                  <i class="fa fa-trash-o"></i> Excluir
                <% end %>
                <%= link_to inscritos_admins_backoffice_eventos_path(id: evento.id), class: "btn btn-secondary btn-xs" do %>
                  <i class="fa fa-folder"></i> Inscritos
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>