<div class='nested-fields' style="padding-left: 80px;">
  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <fieldset>
    <label>Atividades</label>
    <div id='atividades'>
      <%= f.fields_for :atividades do |atividade| %>
        <%= render 'atividades_fields', :f => atividade %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add atividade', f, :atividades,
                                    partial: 'atividades_fields' %>
      </div>
    </div>
  </fieldset>
  <%= link_to_remove_association "remove dia", f %>
</div>