<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <br>
        <%= form_with model: [:admins_backoffice, parceiro], local: true, class: "form-horizontal form-label-left" do |f| %>

          <% if parceiro.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(parceiro.errors.count, "error") %> prohibited this parceiro from being saved:</h2>

              <ul>
                <% parceiro.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.hidden_field :admin_id, value: current_admin[:id] %>

          <div class="item form-group">
            <%= f.label :nome, class: "col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= f.text_field :nome,
                               class: "form-control",
                               placeholder: 'Nome' %>
            </div>
          </div>

          <div class="item form-group">
            <%= f.label :descricao, class: "col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= f.text_area :descricao,
                              class: "form-control",
                              placeholder: 'Descrição' %>
            </div>
          </div>

          <div class="item form-group">
            <%= f.label :imagem, class: "col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= f.file_field :imagem,
                               class: "form-control",
                               placeholder: 'Logo', direct_upload: true %>
            </div>
          </div>

          <div class="item form-group">
            <%= f.label :tipo, class: "col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%#= f.text_field :img_link, placeholder: 'http://imga.com' %>

              <%= f.select :tipo,
                                 Parceiro.tipo.options,
                                 {},
                                 {class: 'form-control'} %>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-3">
              <button type="submit" class="btn btn-success" style="float: right;">Salvar</button>
              <a class="btn btn-danger text-white" href="<%= admins_backoffice_parceiros_path %>" style="float: right;">Voltar</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>