<div class="col-md-12 col-sm-6  ">
  <div class="x_panel">
    <div class="x_title">
      <h2>Parceiros</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li class="houver-link">
          <%= link_to new_admins_backoffice_parceiro_path, class: 'btn btn-success', style: 'color: white;' do %>
            <i class="fa fa-plus-circle text-white"></i> Novo
          <% end %>
          <!--          <a class="btn btn-success">Success</a>-->
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th width="40%">Nome</th>
            <th width="30%">Imagens</th>
            <th width="30%">Ações</th>
          </tr>
          </thead>
          <tbody>
          <% @parceiros.each do |parceiro| %>
            <tr>
              <td width="40%"><%= parceiro.nome %></td>
              <td width="30%">
                  <a href="#" onclick='window.open("<%= url_for(parceiro.imagem) %>");return false;'>
                    <%= image_tag url_for(parceiro.imagem), class: 'img-icon-small' %>
                  </a>
              </td>
              <td width="30%" class="acoes">
                <%= link_to admins_backoffice_parceiro_path(parceiro), class: "btn btn-primary btn-xs" do %>
                  <i class="fa fa-folder"></i> Visualizar
                  <% end %>
                <%= link_to edit_admins_backoffice_parceiro_path(parceiro), class:"btn btn-info btn-xs" do %>
                  <i class="fa fa-pencil"></i> Editar
                  <% end %>
                <%= link_to "/admins_backoffice/parceiros/#{parceiro.id}", method: :delete, data: {confirm: 'Você tem certeza?'}, class:"btn btn-danger btn-xs" do %>
                  <i class="fa fa-trash-o"></i> Excluir
                  <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>