<div class="col-md-12 col-sm-6  ">
  <div class="x_panel">
    <div class="x_title">
      <h2>Parceiros</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li class="houver-link">
          <%= link_to new_admins_backoffice_parceiro_path, class: 'btn btn-success', style: 'color: white;' do %>
            <i class="fa fa-plus-circle text-white"></i> Novo
          <% end %>
          <!--          <a class="btn btn-success">Success</a>-->
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th width="50%">Nome</th>
            <th width="25%">Imagens</th>
            <th width="25%">Ações</th>
          </tr>
          </thead>
          <tbody>
          <% @parceiros.each do |parceiro| %>
            <tr>
              <td width="40%"><%= parceiro.nome %></td>
              <td width="35%">
                <% if parceiro.img_link.present? %>
                  <a href="#" onclick='window.open("<%= parceiro.img_link %>");return false;'>
                    <%= image_tag parceiro.img_link, size: "50x50" %>
                  </a>
                <% elsif parceiro.imagens.any? %>
                  <a href="#" onclick='window.open("<%= parceiro.imagens.first.url %>");return false;'>
                    <%= image_tag parceiro.imagens.first.url, size: "50x50" %>
                  </a>
                <% end %>
              </td>
              <td width="25%" class="acoes">
                <%= link_to 'Visualizar', admins_backoffice_parceiro_path(parceiro), style: 'color: blue' %>
                <%= link_to 'Editar', edit_admins_backoffice_parceiro_path(parceiro), style: 'color: green' %>
                <%= link_to 'Excluir', "/admins_backoffice/parceiros/#{parceiro.id}", method: :delete, data: {confirm: 'Você tem certeza?'}, style: 'color: red' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>