<div class="x_panel">
  <div class="d-flex justify-content-center bd-highlight mb-3">

    <div class="p-4 bd-highlight card">
      <%= image_tag @parceiro.imagem, style: 'height:90px;width:auto;' %>
      <br>

      <p>

        <strong>Nome:</strong>
        <%= @parceiro.nome %>
      </p>
      <p>

        <strong>Descrição:</strong>
        <%= @parceiro.descricao %>
      </p>

      <p>

        <strong>Tipo:</strong>
        <%= @parceiro.tipo_text %>
      </p>
    </div>
  </div>
    <div class="d-flex justify-content-center bd-highlight">
      <div class="bd-highlight">
        <a class="btn btn-danger text-white" href="<%= admins_backoffice_parceiros_path %>" style="float: right;">Voltar</a>
      </div>
      <div class="bd-highlight">
        <%= link_to edit_admins_backoffice_parceiro_path(@parceiro), class:"btn btn-info btn-xs" do %>
          <i class="fa fa-pencil"></i> Editar
        <% end %>
      </div>
    </div>
</div>
