<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Parceiros</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Imagens</th>
    <th>Descricao</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @parceiros.each do |parceiro| %>
    <tr>
      <td><%= parceiro.nome %></td>
      <td>
        <% if parceiro.img_link.present? %>
          <a href="#" onclick='window.open("<%= parceiro.img_link %>");return false;'>
            <%= image_tag parceiro.img_link, size: "50x50" %>
          </a>
        <% elsif parceiro.imagens.any? %>
          <a href="#" onclick='window.open("<%= parceiro.imagens.first.url %>");return false;'>
            <%= image_tag parceiro.imagens.first.url, size: "50x50" %>
          </a>
        <% end %>
      </td>
      <td><%= parceiro.descricao %></td>
      <td><%= link_to 'Show', parceiro %></td>
      <td><%= link_to 'Edit', edit_parceiro_path(parceiro) %></td>
      <td><%= link_to 'Destroy', parceiro, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parceiro', new_parceiro_path %>
