<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Login</h1>

          <div>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>'

          <div>
            <%= f.password_field :password, class: "form-control", placeholder: "Senha" %>
          </div>
          <div>
            <%= f.submit "Entrar", class: "btn btn-secondary submit" %>
          </div>
        <% end %>

        <div class="clearfix"></div>
        <div class="separator">
          <p class="change_link">É novo no site?
            <%= link_to " Criar uma conta ", new_registration_path(resource_name), class: 'to_register' %>
          </p>

          <div class="clearfix"></div>
          <br/>

          <div>
            <h1><i class="fa fa-bullhorn"></i> My Event </h1>
          </div>
        </div>
        </form>
      </section>
    </div>
  </div>
</div>



